:root {
  --acent-color: #333333;
  --btn-color: #405554;
  --bs-btn-active-bg: #333333;
  --bs-btn-active-color: #CBE3E5;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: #F8F8F8;
}

.navbar-brand {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  padding: 8px 20px;
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #333333;
}
.navbar-brand:hover {
  color: #FFFFFF;
}

.active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
}

.btn-language {
  border: none;
  border-radius: 12px;
  color: #000;
}
.btn-language:hover {
  color: #CBE3E5;
  background-color: var(--bs-btn-active-bg);
  box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
}
.btn-language:active {
  color: #CBE3E5;
  background-color: var(--bs-btn-active-bg);
  box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
}
.btn__intro {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
  border-radius: 100px;
  color: #FFFFFF;
  background-color: var(--btn-color);
}
.btn__workflow {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
  border-radius: 100px;
  color: #FFFFFF;
  background-color: var(--btn-color);
}
.btn__reviews {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #CAD2E1;
}
.btn__reviews-active {
  width: 20px;
  height: 20px;
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__reviews-active * {
  font: inherit;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 100%;
  padding: 5px;
  background: #FFFFFF;
}
.btn__questionsAnswers {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}
.btn__footer {
  padding: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn__footer-active {
  color: var(--acent-color);
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  border-radius: 10px;
}
.btn__footer:hover {
  color: var(--acent-color);
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  border-radius: 10px;
}

.intro__backround {
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  opacity: 0.81;
}
.intro__container {
  margin-top: 60px;
}
.intro__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
}
.intro__title-decore {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 100px;
  background-color: #FFEC90;
}
.intro__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.intro__text-decore {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-right: 10px;
  padding: 8px 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
  background-color: #FFFFFF;
}
.intro__text-decore2 {
  margin: 0px;
}

.nav-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--acent-color);
}
.nav-link:hover {
  color: #000;
}

.partners__container {
  margin-top: 100px;
}
.partners__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.partners__button {
  padding: 10px 10px;
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  border-radius: 100%;
}
.partners__item {
  padding: 10px 20px;
  border-radius: 35px;
  background-color: #ECE4C0;
}

.workflow__container {
  margin-top: 100px;
  background-color: #F0F0F0;
  padding: 50px 0px;
}
.workflow__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.workflow__decore {
  padding: 10px 15px;
  background-color: #ECE4C0;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 11px;
}
.workflow__content {
  margin-top: 30px;
}

.whyWe__container {
  margin-top: 100px;
}
.whyWe__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.whyWe__card {
  padding: 30px 40px;
  border-radius: 25px;
  background-color: #E0E1C3;
}

.raffle__container {
  padding: 50px 0px;
  margin-top: 100px;
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
}
.raffle__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 71px;
}
.raffle__title-sub {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.raffle__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.reviews__container {
  margin-top: 100px;
}
.reviews__name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.reviews__location {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.reviews__profession {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
.reviews__item {
  padding: 15px 10px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
}
.reviews__text {
  margin: 0px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #D6E2D4;
}

.using__backround {
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
}
.using__container {
  margin-top: 100px;
  padding: 50px 0px;
}
.using__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
.using__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
}

.conditions__container {
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  background-color: #FFFFFF;
}
.conditions__backround {
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  border-radius: 25px;
}
.conditions__img {
  width: 20px;
  height: 20px;
}

.questionsAnswers__container {
  margin-top: 100px;
}
.questionsAnswers__item {
  background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
}
.questionsAnswers__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.footer__backround {
  background-color: #333333;
}
.footer__container {
  margin-top: 100px;
  padding-top: 80px;
}
.footer__brand {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  padding: 8px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--acent-color);
  background-color: #FFFFFF;
}
.footer__number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.footer__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__text {
  margin-top: 100px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}